<!DOCTYPE html>
<html lang="en">
    <head>
        <title>three.js webgl - loaders - vtk loader</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        <link type="text/css" rel="stylesheet" href="style.css" /> 

        <!-- dependencies -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="ui-bootstrap-tpls-1.1.2.min.js"></script>

        <!-- adapt-strap -->
        <script src="bower_components/adapt-strap/dist/adapt-strap.min.js"></script>
        <script src="bower_components/adapt-strap/dist/adapt-strap.tpl.min.js"></script>
        <link rel="stylesheet" href="bower_components/adapt-strap/dist/adapt-strap.min.css"/>



        <!--- local files -->
        <link rel="stylesheet" type="text/css" href="style.css" />
        <script src="angularInit.js"></script>
        <script src="insertTreeDirective.js"></script>
        <script src="insertBreadcrumbs.js"></script>
        <script src="modalController.js"></script>

        <!--- three.js files -->
        <script src="three.min.js"></script>
        <script src="TrackballControls.js"></script>
        <script src="VTKLoader.js"></script>
        <script src="Detector.js"></script>
        <script src="stats.min.js"></script>
    </head>

    <body ng-app="atlasDemo">

        <div id="rendererFrame"></div>

        <div id="logoBox">
            <img src="logo_spl.gif" width="60px" height="48px"><br> 
            <span>The SPL/NAC Brain Atlas</span><br>
            <span class="tinyText">
                <a href="http://www.spl.harvard.edu/publications/item/view/2037" target=_blank>More information</a>
            </span><br>
            <span class="tinyText">
                <a href="https://www.github.com/mhalle/spl-brain-atlas" target=_blank>Source</a>
            </span>
        </div>
        <div  insert-tree id="structureList"></div>
        <div insert-breadcrumbs id="breadcrumbsList"></div>

        <script type="text/ng-template" id="treeListDirective">
            <ad-tree-browser class="ad-border-default"
                             tree-name="treeDemoBordered"
                             row-ng-class="{added:item._selected}"
                             tree-root="data.root"
                             child-node="children"
                             children-padding="15"
                             bordered="true"
                             node-template-url="treeNode.html">
            </ad-tree-browser>
        </script>

        <div ng-controller="ModalDemoCtrl">
            <script type="text/ng-template" id="modalContent.html">
                <div class="modal-header">
                    <h3 class="modal-title">Please wait while the files are loading</h3>
                </div>
                <div class="modal-body">
                    <span ng-class="{'text-success' : loadingVTK||loadingHierarchy||done}">Loading the JSON atlas structure</span>
                    <span ng-if="loadingVTK||loadingHierarchy||done" class="glyphicon glyphicon-ok" aria-hidden="true"></span><br/>
                    <span ng-class="{'text-success' : loadingHierarchy||done}">Loading the models </span>
                    <span ng-if="loadingHierarchy||done" class="glyphicon glyphicon-ok" aria-hidden="true"></span><br/>
                    <div ng-if="loadingVTK">
                        <uib-progressbar class="progress-striped active" max="numberOfVTKFiles" value="loadedVTKFiles"><span style="color:white; white-space:nowrap;">{{loadedVTKFiles}} / {{numberOfVTKFiles}}</span></uib-progressbar>
                    </div>
                    <span ng-class="{'text-success' : done}">Creating the hierarchy tree</span>
                    <span ng-if="done" class="glyphicon glyphicon-ok" aria-hidden="true"></span><br/>
                    <span ng-if="done" class="text-success">Done !</span>
                </div>
                <div class="modal-footer">
                    <button ng-if="done" class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                </div>
            </script>
        </div>

        <script src="../configAtlasViewer.js"></script>
        <script src="hierarchyGroup.js"></script>
        <script src="app.js"></script>
    </body>
</html>
