#rendererFrame {
    background-color: #000000;
    width: 76vw; 
    height: 100vh; 
    float:left;
}

#structureList {
    width: 22vw; 
    height: 56vh; 
    float:right;
    padding-right: 10px;
    overflow: auto;
}

#breadcrumbsList {
    width: 22vw;
    height: 20vh;
    float: right;
    overflow: auto;
}
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.name-cell {
    text-align: left;
}

.tinyText {
    font-size: 0.8em;
}

#logoBox {
    height: 20vh;
    float: right;
    width: 22vw;
    text-align: center;
}

#logoBox.img {
    margin-right: auto;
    margin-left: auto;
}

.ad-tree-browser-container.tree-bordered {
    border: 0;
}
#inset  {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 100;
}
.dg {
    z-index: 10 !important;
}
