#rendererFrame {
    background-color: #000000;
    width : 100%;
    height : 100%;
}

#structureList {
    width: 100%;
    padding-right: 10px;
    overflow: auto;
}

#breadcrumbsList {
    overflow: auto;
}
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.name-cell {
    text-align: left;
}

.tinyText {
    font-size: 0.8em;
}

#logoBox {
    height: 100px;
    width: 100%;
    text-align: center;
}

#logoBox.img {
    margin-right: auto;
    margin-left: auto;
}

.ad-tree-browser-container.tree-bordered {
    border: 0;
}
#inset  {
    width: 150px;
    height: 150px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
}
.dg {
    z-index: 10 !important;
}
.dg * {
    box-sizing: content-box;
}

#gui-container {
    position: absolute;
    top: 50px;
    left: 5px;
    z-index: 100;
}

#centerContainer {
    overflow: hidden;
}

.slice-container {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 45px);
    background-color: black;
}
.glyphicon-chevron-left,
.glyphicon-chevron-right,
.glyphicon-chevron-up,
.glyphicon-chevron-down{
  color: #aaa;
}
#rendererFrame canvas {
    background: linear-gradient(#657FB5, #D3E2FF);
}


.slice-controls {
    width : 100%;
    height: 43px;
    overflow: hidden;
}

.slice-index-control {
    width : calc(100% - 90px);
    display: inline-block;
    vertical-align: middle;
}

.slice-controls-linked {
    color : #5cb85c;
}
.slice-controls-unlinked {
    color: #d9534f;
}

/*Modify dropdown padding in the slice controls to save space*/
.slice-controls .btn-group.btn-sm.dropdown {
    padding: 0;
}

[insert-slice] {
    width: 100%;
    height: 100%;
}
