<!-- Open the modal -->
<button type="button" class="btn btn-default btn-sm" aria-label="Bookmarks" ng-click="openBookmarks()">
    <i class="fa fa-bookmark" aria-hidden="true"></i>
    <span>Bookmarks</span>
</button>

<!--Modal --->
<div class="modal fade" id="bookmarksModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Your Bookmarks</h4>
            </div>
            <div class="modal-body container">
                <div class="row" ng-repeat="(key,value) in bookmarks" style="margin-bottom:10px;">
                    <div class="col-xs-1">
                        <a href="#">
                            <img class="img-responsive" ng-src="{{value && value.thumbnail || imgPlaceholder}}" alt="thumbnail" style="width:64px;height:64px;">
                        </a>
                    </div>
                    <div class="col-xs-11">
                        <h4 class="media-heading">{{key}}</h4>
                        Description
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
