<div class="modal-header">
    <h3 class="modal-title">Please choose the way you want to login</h3>
</div>
<div class="modal-body">
    <a class="btn btn-lg btn-default" href="#" ng-click="auth('github')">
        <i class="fa fa-github-square fa-2x"></i> Login  with Github
    </a>
    <a class="btn btn-lg btn-default" href="#" ng-click="auth('facebook')">
        <i class="fa fa-facebook-square fa-2x"></i> Login  with Facebook
    </a>
    <a class="btn btn-lg btn-default" href="#" ng-click="auth('twitter')">
        <i class="fa fa-twitter-square fa-2x"></i> Login  with Twitter
    </a>
    <a class="btn btn-lg btn-default" href="#" ng-click="auth('google')">
        <i class="fa fa-google-plus-square fa-2x"></i> Login  with Google+
    </a>
</div>
<div class="modal-footer">
    <button class="btn btn-error" type="button" ng-click="cancel()">Cancel</button>
</div>
