<div class="modal-header">
    <h3 class="modal-title">Please choose the way you want to login</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-6 text-center">
            <a class="btn btn-lg btn-default" ng-click="auth('github')" style="display: inline-block;">
                <i class="fa fa-github-square fa-2x pull-left"></i>
                <span style="display: inline-block;margin-top: 8px;">Login  with Github</span>
            </a>
        </div>
        <div class="col-xs-6 text-center">
            <a class="btn btn-lg btn-default" ng-click="auth('facebook')" style="display: inline-block;">
                <i class="fa fa-facebook-square fa-2x pull-left" style="color:#3b5998;"></i>
                <span style="display: inline-block;margin-top: 8px;">Login  with Facebook</span>
            </a>
        </div>
    </div>
    <div class="row" style="margin-top:40px;">
        <div class="col-xs-6 text-center">
            <a class="btn btn-lg btn-default" ng-click="auth('twitter')" style="display: inline-block;">
                <i class="fa fa-twitter-square fa-2x pull-left" style="color:#55acee;"></i>
                <span style="display: inline-block;margin-top: 8px;">Login  with Twitter</span>
            </a>
        </div>

        <div class="col-xs-6 text-center">
            <a class="btn btn-lg btn-default" ng-click="auth('google')" style="display: inline-block;">
                <i class="fa fa-google-plus-square fa-2x pull-left" style="color:#ea4335;"></i>
                <span style="display: inline-block;margin-top: 8px;">Login  with Google+</span>
            </a>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
