<div class="modal-header">
    <h3 class="modal-title">Please wait while the files are loading</h3>
</div>
<div class="modal-body">
    <span ng-class="{'text-success' : loadingVTK||loadingHierarchy||done}">Loading the JSON atlas structure</span>
    <span ng-if="loadingVTK||loadingHierarchy||done" class="glyphicon glyphicon-ok" aria-hidden="true"></span><br/>
    <span ng-class="{'text-success' : loadingHierarchy||done}">Loading the models </span>
    <span ng-if="loadingHierarchy||done" class="glyphicon glyphicon-ok" aria-hidden="true"></span><br/>
    <div ng-if="loadingVTK">
        <uib-progressbar class="progress-striped active" max="numberOfVTKFiles" value="loadedVTKFiles"><span style="color:white; white-space:nowrap;">{{loadedVTKFiles}} / {{numberOfVTKFiles}}</span></uib-progressbar>
    </div>
    <span ng-class="{'text-success' : done}">Creating the hierarchy tree</span>
    <span ng-if="done" class="glyphicon glyphicon-ok" aria-hidden="true"></span><br/>
    <span ng-if="done" class="text-success">Done !</span>
    <div ng-repeat="item in backgroundFiles">
        <div ng-if="item.progress < 100">
            Loading {{item.datasource.displayName || item.datasource.source.split('/').pop()}} : <br>
            <uib-progressbar class="progress-striped active" min="0" max="100" value="item.progress"><span style="color:white; white-space:nowrap;">{{item.progress}} %</span></uib-progressbar>
        </div>
        <div ng-if="item.progress === 100">
            {{item.datasource.displayName || item.datasource.source.split('/').pop()}} loaded
            <span ng-if="done" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        </div>
    </div>
    <span ng-if="done && !backgroundDone" class="text-warning">
        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
        You can start interacting with the app without the background loaded, it will appear when ready
    </span>
</div>
<div class="modal-footer">
    <button ng-if="done" class="btn btn-primary" type="button" ng-click="ok()">OK</button>
</div>
