<div class="slice-container">
</div>
<span class="slice-controls">
    <button type="button" class="btn btn-default btn-sm" aria-label="Visibility" ng-click="toggleMeshVisibility($event)">
        <span class="glyphicon glyphicon-eye-open slice-controls-true" aria-hidden="true" ng-if="slice.mesh.visible"></span>
        <span class="glyphicon glyphicon-eye-close slice-controls-false" aria-hidden="true" ng-if="!slice.mesh.visible"></span>
    </button>
    <div class="slice-index-control">
        <input type="range" min="0" max="{{slice.maxIndex}}" ng-model="controls.index"/>
    </div>
</span>

