<span class="slice-controls">
    <!-- link is not used anymore but keeping it just in case
    <button type="button" class="btn btn-default btn-sm" aria-label="Link" ng-click="toggleLink()">
        <span class="glyphicon glyphicon-link" aria-hidden="true" ng-class="{'slice-controls-true': volumesManager.slicesLinked, 'slice-controls-false' : !volumesManager.slicesLinked, }"></span>
    </button>
    -->
    <button type="button" class="btn btn-default btn-sm" aria-label="Pin" ng-click="togglePopover()" uib-popover-template="'ng-templates/controlsPopover.html'" popover-placement="bottom-left">
        <span class="glyphicon glyphicon-collapse-up slice-controls-true" aria-hidden="true" ng-if="popoverIsOpen"></span>
        <span class="glyphicon glyphicon-collapse-down" aria-hidden="true" ng-if="!popoverIsOpen"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm" aria-label="Visibility" ng-click="toggleMeshVisibility($event)">
        <span class="glyphicon glyphicon-eye-open slice-controls-true" aria-hidden="true" ng-if="slice.mesh.visible"></span>
        <span class="glyphicon glyphicon-eye-close slice-controls-false" aria-hidden="true" ng-if="!slice.mesh.visible"></span>
    </button>
    <button type="button" class="btn btn-default btn-sm" aria-label="Crosshair" ng-click="toggleCrosshair($event)">
        <span class="glyphicon glyphicon-screenshot slice-controls-true" aria-hidden="true" ng-if="view.displayCrosshair"></span>
        <span class="glyphicon glyphicon-screenshot slice-controls-false" aria-hidden="true" ng-if="!view.displayCrosshair"></span>
    </button>
    <div class="btn-group btn-sm" uib-dropdown>
        <button id="single-button" type="button" class="btn btn-default btn-sm" uib-dropdown-toggle>
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> <span class="caret"></span>
        </button>
        <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
            <li class="dropdown-header">Background</li>

            <li role="menuitem" ng-repeat="item in controls.backgrounds" ng-click="toggleVisibility(item)">
                <a href="#">
                    {{item.name}}
                    <span ng-if="item.visible" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </a>
            </li>

            <li class="dropdown-header">Label map</li>

            <li role="menuitem" ng-repeat="item in controls.labelMaps" ng-click="toggleVisibility(item)">
                <a href="#">
                    {{item.name}}
                    <span ng-if="item.visible" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="slice-index-control">
        <input type="range" min="0" max="{{slice.maxIndex}}" ng-model="controls.index"/>
    </div>
</span>
<div class="slice-container">
</div>
