
<!-- Open the new message modal -->
<!-- 
<button ng-if="isMessageEnabled()" type="button" class="btn btn-default" aria-label="newMessage" ng-click="openNewMessageForm()" uib-tooltip="Write a new message to another user" tooltip-placement="bottom" tooltip-append-to-body="true">
    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    <span>New Message</span>
</button>
--> 

<!-- Open the messages list modal -->
<div class="btn-group btn-group-sm" role="group">
<a ng-if="isMessageEnabled()" role="button" class="btn btn-default" aria-label="messagesList" ng-click="openMessagesList()" uib-tooltip="Messages" tooltip-placement="bottom-left" tooltip-append-to-body="true">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <span ng-if="unreadMessages > 0" class="badge unread-messages">{{unreadMessages}}</span>
</a>
</div>

<!-- Messages List modal -->
<div class="modal fade" id="messagesListModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Your Messages</h4>
            </div>
            <div class="modal-body">

                <!-- send a new message -->
                <button ng-if="isMessageEnabled()" type="button" class="btn btn-primary btn-sm" aria-label="newMessage" ng-click="openNewMessageForm()" uib-tooltip="Write a new message to another user" tooltip-placement="bottom" tooltip-append-to-body="true"  style="margin-bottom:10px;">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    <span>New Message</span>
                </button>

                <!-- tabs -->
                <uib-tabset active="activeTab">
                    <uib-tab index="0" heading="Received">

                        <!-- placeholder if no message -->
                        <div ng-if="noMessage">You do not have any message.</div>

                        <!-- list of received message -->
                        <div ng-if="!noMessage" class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default" ng-repeat="message in messages | toArray | orderBy:'-date'">
                                <div class="panel-heading collapsed" role="tab" ng-attr-id="heading{{message.$key}}" data-toggle="collapse" ng-attr-data-target="#collapse{{message.$key}}" aria-expanded="false" ng-attr-aria-controls="collapse{{message.$key}}" style="min-height:80px">

                                    <!-- profile picture -->
                                    <img ng-if="userNames[message.author].photoURL" ng-src="{{userNames[message.author].photoURL}}" height="64px" width="64px" class="message-profile-picture"/>

                                    <!-- First letter of name if no profile picture -->
                                    <span ng-if="!userNames[message.author].photoURL" class="message-profile-picture-placeholder">{{userNames[message.author].name.substr(0,1).toUpperCase()}}</span>


                                    <!-- message header -->
                                    <h4 class="panel-title">
                                        {{userNames[message.author].name}}

                                        <i class="fa fa-trash-o pull-right message-button" aria-hidden="true" ng-click="deleteMessage(message.$key, 'received')"></i>
                                    </h4>
                                    <h6>
                                        {{message.subject}}
                                        <small class="pull-right">{{formatDate(message.date)}}</small>
                                    </h6>
                                </div>

                                <!-- message content -->
                                <div ng-attr-id="collapse{{message.$key}}" class="panel-collapse collapse" role="tabpanel" ng-attr-aria-labelledby="heading{{message.$key}}">
                                    <div class="panel-body" compile="message.text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>


                    <uib-tab index="1" heading="Sent">
                        <!-- placeholder if no message -->
                        <div ng-if="noSentMessage">You do not have any sent message.</div>

                        <!-- list of received message -->
                        <div ng-if="!noSentMessage" class="panel-group" id="accordionSent" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default" ng-repeat="message in sentMessages | toArray | orderBy:'-date'">
                                <div class="panel-heading collapsed" role="tab" ng-attr-id="headingSent{{message.$key}}" data-toggle="collapse" ng-attr-data-target="#collapseSent{{message.$key}}" aria-expanded="false" ng-attr-aria-controls="collapseSent{{message.$key}}" style="min-height:80px">


                                    <!-- message header -->
                                    <h4 class="panel-title">
                                        <span ng-repeat="recipient in message.recipients">{{recipient}}<span ng-if="!$last">;</span></span>

                                        <i class="fa fa-trash-o pull-right message-button" aria-hidden="true" ng-click="deleteMessage(message.$key, 'sent')"></i>
                                    </h4>
                                    <h6>
                                        {{message.subject}}
                                        <small class="pull-right">{{formatDate(message.date)}}</small>
                                    </h6>
                                </div>

                                <!-- message content -->
                                <div ng-attr-id="collapseSent{{message.$key}}" class="panel-collapse collapse" role="tabpanel" ng-attr-aria-labelledby="headingSent{{message.$key}}">
                                    <div class="panel-body" compile="message.text">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- New message modal -->
<div class="modal fade" id="newMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New Message</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipientInput">Recipient</label>
                        <tags-input id="recipientInput" ng-model="newMessage.recipient" display-property="name" placeholder="Add a recipient" replace-spaces-with-dashes="false">
                            <auto-complete source="getMatchingUserNames($query)"
                                           min-length="0"
                                           load-on-focus="true"
                                           load-on-empty="true"
                                           max-results-to-show="8"
                                           template="ng-templates/usersAutocomplete.html"></auto-complete>
                        </tags-input>
                    </div>
                    <div class="form-group">
                        <label for="subjectInput">Subject</label>
                        <input id="subjectInput" type="text" ng-model="newMessage.subject" class="form-control" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <label for="contentInput">Content</label>
                        <textarea id="contentInput" class="form-control" rows="3" ng-model="newMessage.text" ></textarea>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="emptyForm()">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="send()">Send</button>
            </div>
        </div>
    </div>
</div>
